h1 {
    margin: 25px;
}

.details-containers {
    text-align: center;
    margin-top: 150px;
    margin-right: 300px;
    margin-bottom: 60px;
    margin-left: 300px;
}

button {
    margin: 10px;
}

span {
    font-weight: bold;
}
