<div class="title-container">
	<h1>Patient details</h1>
</div>

<div class="details-containers">
    <div class="row">
        patientName and lastname
    </div>
    <div class="row">
        address
    </div>
    <div class="row">
        <app-chat-historic></app-chat-historic>
    </div>
    <div class="row">
        <a mat-button routerLink="/chat" routerLinkActive="active">Chat</a>
        <button mat-button>Back</button>
    </div>
    <div class="row">
        <app-sms-editor></app-sms-editor>
    </div>
</div>
