<div class="title-container">
    <h1>Patient list</h1>
</div>
<div class="table-container">
    <div>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Start typing a name">
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>
                Id.
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.id}}
            </mat-cell>
        </ng-container>
        <!-- firstName Column -->
        <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef>
                Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.firstName}}
            </mat-cell>
        </ng-container>
        <!-- lastname Column -->
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef>
                Lastname
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.lastName}}
            </mat-cell>
        </ng-container>
        <!-- details Column -->
        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef>
                Patient details
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink="/detail/{{element.id}}">Detail</a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
