<div>
	<mat-form-field>
		<mat-label>Filter</mat-label>
		<input matinput (keyup)="applyFilter($event)" placeholder="Ex. ium">
	</mat-form-field>
</div>

<mat-table
	[dataSource]="dataSource" class="mat-elevation-z8">

	<!-- Id Column -->
	<ng-container matcolumndef="id">
		<mat-header-cell *matheadercelldef>
			Id.
		</mat-header-cell>
		<mat-cell *matcelldef="let element">
			{{element.id}}
		</mat-cell>
	</ng-container>

	<!-- Name Column -->
	<ng-container matcolumndef="name">
		<mat-header-cell *matheadercelldef>
			Name
		</mat-header-cell>
		<mat-cell *matcelldef="let element">
			{{element.name}}
		</mat-cell>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matcolumndef="lastname">
		<mat-header-cell *matheadercelldef>
			Lastname
		</mat-header-cell>
		<mat-cell *matcelldef="let element">
			{{element.lastname}}
		</mat-cell>
	</ng-container>

	<ng-container matcolumndef="details">
		<mat-header-cell *matheadercelldef>
			Patient details
		</mat-header-cell>
		<mat-cell *matcelldef="let element">
			<a routerlink="/patient-details" routerlinkactive="active">Details</a>
		</mat-cell>
	</ng-container>

	<mat-header-row *matheaderrowdef="displayedColumns"></mat-header-row>
	<mat-row *matrowdef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
