table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 200px;
}

.title-container {
    margin: 25px;
}

.table-container {
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 60px;
    margin-left: 300px;
}
