<form (ngSubmit)="signup.valid && onSubmit()" #signup="ngForm">
  <div>
    <mat-form-field>
      <mat-label for="firstname">Prénom</mat-label>
      <input matInput name="firstname" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" minlength="3"
        maxlength="15" required>
    </mat-form-field>
  </div>
  <!-- Message d'erreurs -->
  <mat-error *ngIf="signup.submitted && firstname.errors">
    <span *ngIf="firstname.errors?.required">Le prénom est requis</span>
    <span *ngIf="firstname.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
    <span *ngIf="firstname.errors?.maxlength">La longueur maximale doit être inférieure à 15 caractères</span>
  </mat-error>
  <div>
    <mat-form-field>
      <mat-label for="lastname">Nom</mat-label>
      <input matInput name="lastname" type="text" [(ngModel)]="model.lastname" #lastname="ngModel" minlength="3"
        maxlength="15" required>
    </mat-form-field>
  </div>
  <mat-error *ngIf="signup.submitted && lastname.errors">
    <span *ngIf="lastname.errors?.required">Le nom est requis</span>
    <span *ngIf="lastname.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
    <span *ngIf="lastname.errors?.maxlength">La longueur maximale doit être inférieure à 15 caractères</span>
  </mat-error>

  <div>
    <mat-form-field>
      <mat-label for="identifiant">Identifiant</mat-label>
      <input matInput name="identifiant" type="text" [(ngModel)]="model.identifiant" #identifiant="ngModel"
        minlength="3" maxlength="15" required>
    </mat-form-field>
  </div>
  <mat-error *ngIf="signup.submitted && identifiant.errors">
    <span *ngIf="identifiant.errors?.required">Le nom d'utilisateur est requis</span>
    <span *ngIf="identifiant.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
    <span *ngIf="identifiant.errors?.maxlength">La longueur maximale doit être inférieure à 15 caractères</span>
  </mat-error>

  <div>
    <mat-form-field>
      <mat-label for="password">Mot de passe</mat-label>
      <input matInput name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required
        maxlength="30" minlength="7">
    </mat-form-field>
  </div>
  <mat-error *ngIf="signup.submitted && password.errors">
    <span *ngIf="password.errors?.required">Le mot de passe est requis</span>
    <span *ngIf="password.errors?.minlength">La longueur minimale doit être supérieure à 7 caractères</span>
    <span *ngIf="password.errors?.maxlength">La longueur maximale doit être inférieure à 30 caractères</span>
  </mat-error>

  <div>
    <mat-form-field>
      <mat-label for="mail">Email</mat-label>
      <input matInput name="mail" type="email" [(ngModel)]="model.mail" #mail="ngModel" required email>
    </mat-form-field>
  </div>
  <mat-error *ngIf="signup.submitted && mail.errors">
    <span *ngIf="mail.errors.required">Le champ email est requis</span>
  </mat-error>

  <button mat-raised-button color="primary" type="submit">
    Enregistrer
  </button>
</form>
<a routerLink=""><button mat-raised-button color="primary">Retour</button></a>
