<div class="sms-container">
  <div class="row">
    <label for="smsType">Choose an sms type: </label>
    <select name="smsType" id="smsType">
      <option value="rdv">Rdv</option>
      <option value="prescription">Prescription</option>
    </select>
  </div>

  <!-- <div class="row">
        <label for="fname">Phone Number: </label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}">
    </div>
    <div class="row">
        <label for="smsContent">Sms Content:</label>

        <textarea id="smsContent" name="smsContent" rows="4" cols="50"> 
        </textarea>
    </div> -->
  <form (ngSubmit)='create()' #form="ngForm">
    <input type="text" [(ngModel)]='sms.to' name="destinataire">
    <input type="text" [(ngModel)]='sms.message' name="message">

    <button type="submit">Envoyer</button>
  </form>
</div>
