<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<form (ngSubmit)="login.valid && onSubmit()" #login="ngForm">
    <div>
        <mat-form-field>
            <mat-label for="identifiant">Identifiant</mat-label>
            <input matInput name="identifiant" type="text" [(ngModel)]="model.identifiant" #identifiant="ngModel" minlength="3" maxlength="15" required>
        </mat-form-field>
    </div>
    <!-- Message d'erreurs -->
    <mat-error *ngIf="login.submitted && identifiant.errors">
        <span *ngIf="identifiant.errors?.required">Le prénom est requis</span>
        <span *ngIf="identifiant.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
        <span *ngIf="identifiant.errors?.maxlength">La longueur maximale doit être inférieure à 15 caractères</span>
    </mat-error>
    <div>
        <mat-form-field>
            <mat-label for="password">Mot de passe</mat-label>
            <input matInput name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required maxlength="30" minlength="7">
        </mat-form-field>
    </div>
    <mat-error *ngIf="login.submitted && password.errors">
        <span *ngIf="password.errors?.required">Le mot de passe est requis</span>
        <span *ngIf="password.errors?.minlength">La longueur minimale doit être supérieure à 7 caractères</span>
        <span *ngIf="password.errors?.maxlength">La longueur maximale doit être inférieure à 30 caractères</span>
    </mat-error>

    <button mat-raised-button color="primary" type="submit">Enregistrer
	</button>
</form>