@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../../../images/Medical-Wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

mat-card {
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
    background-color: cornflowerblue;
    opacity: 0.9;
}

input matInput {
    color: white;
}

mat-card-title {
    color: aliceblue;
}

.rvaa {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    margin-top: 15px;
    color: #007cff;
    text-shadow: 0 0 20px #ec6a1799;
}

.date {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    margin-top: 15px;
    color: #007cff;
    text-shadow: 0 0 20px #ec6a1799;
    right: 0;
}

.rvaa:hover {
    color: yellow;
}

mat-tab-group {
    color: aliceblue;
}

mat-form-field,
mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
}

mat-card-content {
    margin-top: 20px;
}

.login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
}
