<div class="toolbar" role="banner">

    <span>RV2A</span>
</div>

<div class="content" role="main">
    <div class="card highlight-card card-small">
        <svg id="rocket" alt="Rocket Ship" xmlns="" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="45" cy="45" r="45" transform="translate(141 696)"
          fill="#1976d2" />
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">

            d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
            transform="translate(0 0.005)" fill="#fff" />
        </g>
      </g>
    </svg>
        <span>Vous êtes connecté au chat</span>
    </div>

    <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
    <button class="btn btn-success" (click)="sendMessage()">Send</button>
    <div class="content">
        <div *ngFor="let msg of chatService.msg">
            {{msg}}
        </div>
    </div>
</div>
